body {
	background-color: lightgrey;
}

.editorContainer_edit p {
	margin: 0;
}

.editorContainerClass {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

.editorContainer_edit {
	-webkit-overflow-scrolling: touch;
	overflow-y: scroll;
	padding: 10px;
	height: 150px;
	border: 0;
	background-color: white;
}

.editorContainer_controlBar {
	margin-top: 10px;
	margin-bottom: 10px;
}

.editorContainer_colorPicker {
	background-image: url("assets/colorpicker.png");	
}

.editorContainer_bold {
	background-image: url("assets/icon_style_bold.png");	
}

.editorContainer_italic {
	background-image: url("assets/icon_style_italic.png");	
}

.editorContainer_underline {
	background-image: url("assets/icon_style_underline.png");	
}

.editorContainer_alignLeft {
	background-image: url("assets/icon_align_left.png");	
}

.editorContainer_alignCenter {
	background-image: url("assets/icon_align_center.png");	
}

.editorContainer_alignRight {
	background-image: url("assets/icon_align_right.png");	
}

.editorContainer_justify {
	background-image: url("assets/icon_align_justify.png");	
}

.editorContainer_bulletList {
	background-image: url("assets/icon_bullet.png");	
}

.editorContainer_http {
	background-image: url("assets/link.png");
}

.editorContainer_controlBar > button{
	cursor: pointer;
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
	width: 50px;
	border: 1px solid rgb(169, 169, 169);
	margin: 0px;
}

.editorContainer_comboBox {
	display: inline-block;
	float: left;
}

.editorContainer_comboBox > div > button{
	display: block;
	background-color: white;
	border: 0;
	margin: 0;
	height: 25px;
	width: 150px;	
}

.editorContainer_comboBox > div > button:hover {
	background-color: lightblue;
}

.editorContainer_comboBox > div {
	display: none;
	z-index: 123;
	position: absolute;
	border: 1px solid lightgrey;
}

.editorContainer_comboBox > button {
	-webkit-appearance: none;
	height: 50px;
	cursor: pointer;
}

.editorContainer_comboBox > button > img {
	margin-left: 5px;
}

.editorContainer_comboColor {
	display: inline-block;
	float: left;
}

.editorContainer_comboColor > button {
	height: 50px;
	width: 67px;
	cursor: pointer;
}

.editorContainer_comboColor table {
	border-left: 1px solid black;
	border-top: 1px solid black;
	border-spacing: 0;
	line-height: 0;
}

.editorContainer_comboColor table td {
	width: 10px;
	height: 10px;
	border: 1px solid black;
	border-left: 0;
	border-top: 0;
}

.editorContainer_colorPickerColors {
	display: none;
	z-index: 12;
	position: absolute;
	background-color: lightgrey;
	border: 1px solid grey;
	padding: 1px 5px 5px;
}

.editorContainer_colorPickerPreview {
	width: 60px;
	background-color: black;
}

.editorContainer_colorPickerColors input:nth-child(2){
	width: 60px;
	cursor: text;
}